body {
  margin:0px;
  color: #E0DBB7;
  font: 1.3rem Inconsolata, monospace;
}

.App {
  background-color:#333;
  height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
  color: #E0DBB7;
  font: 1.3rem Inconsolata, monospace;
}

input {
  border: none;
  outline: none;
  font-size: 30px;
  margin: 2px;
  padding: 0px;
  background-color: transparent;
  color: #E0DBB7;
  font: 1.3rem Inconsolata, monospace;
}

h2 {
  margin: 0px;
}
p {
  margin: 8px;
  margin-left:0px;
}

